<div class="container">
  <div class="col-md-4 col-md-offset-4">
    <h1> <%= @grandma.user.first_name %>'s profile</h1>
    <%= simple_form_for [@grandma] do |f| %>
      <div class="form-inputs">
        <%= f.input :price %>
        <%= f.input :baby_sitting,     as: :radio_buttons, radio_buttons: :inline %>
        <%= f.input :pet_sitting,     as: :radio_buttons %>
        <%= f.input :knitting,     as: :radio_buttons %>
        <%= f.input :cooking,     as: :radio_buttons %>
        <%= f.submit "Done", class: "btn-confirm" %>
      </div>
    <% end %>
    <br>
    <%= link_to "", :back, class: "fas fa-arrow-left fat" %>
  </div>
</div>
