<div class="banner" style="background-image: linear-gradient(-225deg, rgba(252,74,26,0.2) 0%, rgba(50,50,50,0.2) 50%), url('http://www.lerevenu.com/sites/site/files/styles/img_lg/public/field/image/immobilier-aide-petits-enfants-phovoir.jpg?itok=CQ2AB6Ic');">
  <div class="banner-content">
    <h1>Doubtfire</h1>
    <p>Faites confiance à l'expérience</p>
  </div>
</div>



<div class="container">
  <div class="row">
    <% @grandmas.each do |grandma| %>
      <div class="col-xs-12 col-sm-3 col-md-3">

        <% if grandma.user.photo %>
          <div class="grandma-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path grandma.user.photo %>')">
            <div class="grandma-title">
              <h2><%= grandma.user.first_name %></h2>
              <p><%= grandma.user.address %></p>
                <%= link_to "", grandma_path(grandma), class:"card-link" %>
            </div>
          </div>

        <% else  %>

          <div class="grandma-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://clipartbarn.com/wp-content/uploads/2016/12/Women-black-lady-clipart-kid.png')">
            <div class="grandma-title">
              <h2><%= grandma.user.first_name %></h2>
              <p><%= grandma.user.address %></p>
                <%= link_to "", grandma_path(grandma), class:"card-link" %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>




