<div class="banner" style="background-image: linear-gradient(-225deg, rgba(252,74,26,0.2) 0%, rgba(50,50,50,0.2) 50%), url('http://21033-presscdn.pagely.netdna-cdn.com/wp-content/uploads/2017/01/feat_grandma_kids.jpg');">
  <div class="banner-content">
    <h1>Doubtfire</h1>
    <p>Faites confiance à l'expérience</p>
    <% unless user_signed_in? %>
    <%= link_to "Create an account", new_user_registration_path, class:"btn-classic" %>
    <% end %>
  </div>
</div>

<div class="mission-text">
  <p>Disponibles, responsables, sérieuses
  et proches de chez vous…</p> <br> <p class="underline">Nos grand-mères sont à votre service.</p>
</div>

<div class="container" id="grandma-cards">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-12">
      <div class="container-fluid">
        </div>
        <div class="row">
          <% @grandmas.each do |grandma| %>
            <div class="col-xs-12 col-sm-3 col-md-4">
              <% if grandma.user.photo %>
                <div class="grandma-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path grandma.user.photo %>')">
                  <div class="grandma-title">
                    <h2><%= grandma.user.first_name %></h2>
                    <p><%= grandma.user.address %></p>
                      <%= link_to "", grandma_path(grandma), class:"card-link" %>
                  </div>
                </div>

              <% else  %>

                <div class="grandma-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://clipartbarn.com/wp-content/uploads/2016/12/Women-black-lady-clipart-kid.png')">
                  <div class="grandma-title">
                    <h2><%= grandma.user.first_name %></h2>
                    <p><%= grandma.user.address %></p>
                      <%= link_to "", grandma_path(grandma), class:"card-link" %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
      <div class="col-xs-12 col-sm-3 col-md-12">
        <div id="map" style="width: 100%; height: 600px;" data-markers="<%= @markers.to_json %>"></div>
      </div>
</div>




