<div class="container">
  <div class="main-container">
    <div class="card-show">
      <%= image_tag @grandma.user.photo, id:"img-profile", style: "object-fit: cover;" %>
        <h1><%= @grandma.user.first_name %></h1>
        <h2><%= @grandma.user.age %> <%= @grandma.user.address %></h2>
        <% if @current_user == @grandma %>
          <%= link_to "Edit your profile", edit_grandma_path(@grandma), class: "btn btn-primary" %>
        <% else %>
          <%= link_to "Contact #{@grandma.user.first_name}", new_grandma_booking_path(@grandma), class: "btn btn-classic"  %>
        <% end %>

    </div>


    <div class="card-show">
      <h3>More about <%= @grandma.user.first_name %></h3>
      <p> <%= @grandma.price %>€/hour</p>
    </div>

    <div class="card-show">
      <h3> <%= @grandma.user.first_name %> is available for</h3>

        <% if @grandma.knitting %>
          <div class="row">
            <div class="polaroid">
              <%= image_tag 'activities/knitting.jpg', class: "polaroid"%>
              <p>Knitting</p>
            </div>
        <% end %>

        <% if @grandma.cooking %>
            <div class="polaroid">
              <%= image_tag 'activities/cooking.jpg', alt: "Cooking" %>
              <p>Cooking</p>
            </div>
          </div>
        <% end %>


        <% if @grandma.baby_sitting %>
          <div class="row">
            <div class="polaroid">
              <%= image_tag 'activities/babysitting.jpg', class: "polaroid" %>
              <p>Baby-Sitting</p>
            </div>
        <% end %>

          <% if @grandma.pet_sitting %>
            <div class="polaroid">
              <%= image_tag 'activities/dogsit.jpg', class: "polaroid" %>
              <p>Pet-Sitting</p>
            </div>
          <% end %>
          </div>
    </div>

  </div>
</div>
