<h1>Grandmas#show</h1>
<h1><%= @grandma %></h1>
<p>Find me in app/views/grandmas/show.html.erb</p>
<h1> <%= @grandma.user.email %> </h1>
<p> <%= @grandma.price %>€/hour</p>
<p> Knitting: <%= @grandma.knitting %></p>
<p> Cooking: <%= @grandma.cooking %></p>
<p> Baby sitting: <%= @grandma.baby_sitting %></p>
<p> Pet sitting: <%= @grandma.pet_sitting %></p>
<%= link_to "Edit", edit_grandma_path(@grandma), class: "btn btn-primary" %>
<%= link_to "sign out", root_path, class: "btn btn-primary"  %>
