<div class="container">
  <h3 style="color: #EF7E56;">Your bookings</h3>

    <div class="container" id="grandma-cards">
      <div class="row">
        <% @bookings.each do |booking| %>
          <div class="col-xs-12 col-sm-3 col-md-4">
            <% if current_user.user_type == "Grandma" %>
              <div class="grandma-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path booking.user.photo %>')">
                <div class="grandma-title">
                  <h2><%= booking.user.first_name %></h2>

                     <% if booking.status == "declined" %>
                        <p><div class="status-canceled">Meeting canceled</div></p>
                      <% elsif booking.status == "validate"%>
                        <p><div class="status-valid">Meeting accepted</div></p>
                      <% else %>
                       <p><div class="status-pending">Pending meeting</div></p>
                      <% end %>
                  <%= link_to "", grandma_booking_path(booking.grandma.user.id, booking.id), class:"card-link" %>
                </div>
              </div>

                  <% else  %>

              <div class="grandma-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path booking.grandma.user.photo %>')">
                <div class="grandma-title">
                  <h2><%= booking.grandma.user.first_name %></h2>
                      <% if booking.status == "declined" %>
                        <p><div class="status-canceled">Meeting canceled</div></p>
                      <% elsif booking.status == "validate"%>
                        <p><div class="status-valid">Meeting accepted</div></p>
                      <% else %>
                       <p><div class="status-pending">Pending meeting</div></p>
                      <% end %>
                  <%= link_to "", grandma_booking_path(booking.grandma.user.id, booking.id), class:"card-link" %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
  </div>

</div>
