<div class="container">
  <div class="col-md-4 col-md-offset-4">
    <h1 class='roboto'>New Booking</h1>
    <%= simple_form_for [@grandma, @booking] do |f| %>
      <%= f.input :status, collection: @collection, default: @collection.first  %>
      <%= f.input :start_date %>
      <%= f.input :grandma_id, :as => :hidden, :input_html => { :value => params[:grandma_id] } %>
      <%= f.input :end_date %>
      <%= f.submit "add booking", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
