<div class="container">
    <% start_date = eval(@booking.start_date) %>
    <% end_date = eval(@booking.end_date) %>

    <div class="main-container">
      <div class="card-show" style="padding-bottom: 30px;">
          <%= image_tag @booking.grandma.user.photo, id:"img-profile", style: "object-fit: cover;" %>
          <%= image_tag @booking.user.photo, id:"img-profile", style: "object-fit: cover;" %>
            <h1><%= @booking.grandma.user.first_name %> and <%= @booking.user.first_name %> have a meeting!</h1>
          <% if @booking.status == "pending" && current_user.user_type == "Grandma" %>
          <%= link_to "Accept", update_booking_path(@booking.id, true), method: :put,
          class: "btn-confirm" %>
          <%= link_to "Decline", update_booking_path(@booking.id, false),
          data: {confirm: 'Are you sure?'}, method: :put, class: "btn-decline" %>
          <% end %>
        </div>

      <div class="card-show">
          <% if @booking.status == "pending" %>
            <h1><div class="status-pending">
            Your meeting is pending validation
            </div>
          <% elsif @booking.status == "accepted"%>
            <p id="status-valid">Your meeting is accepted</p>
          <% else %>
            <p id="status-canceled">This meeting was canceled</p>
          <% end %>
          </h1>
      </div>


      <div class="card-show">
        <h3>Meeting details</h3>
        <p>Start: <%= "#{start_date[3]} / #{start_date[2]} / #{start_date[1]} " %>
        End: <%= "#{end_date[3]} / #{end_date[2]} / #{end_date[1]} " %></p>
        <p id="price"> Price is: <%= @booking.grandma.price %> euros / hour</p>
      </div>

      <div class="card-show">
        <h3>Planned activities</h3>
      <div id="activity">
        <% if @booking.grandma.knitting %>
          <div class="row">
            <div class="polaroid">
              <%= image_tag 'activities/knitting.jpg' %>
              <p>Knitting</p>
            </div>
        <% end %>

        <% if @booking.grandma.cooking %>
            <div class="polaroid">
              <%= image_tag 'activities/cooking.jpg', alt: "Cooking" %>
              <p>Cooking</p>
            </div>
          </div>
        <% end %>

        <% if @booking.grandma.baby_sitting %>
          <div class="row">
            <div class="polaroid">
              <%= image_tag 'activities/babysitting.jpg' %>
              <p>Baby-Sitting</p>
            </div>
        <% end %>

          <% if @booking.grandma.pet_sitting %>
            <div class="polaroid">
              <%= image_tag 'activities/dogsit.jpg' %>
              <p>Pet-Sitting</p>
            </div>
          <% end %>
          </div>
      </div>
  </div>

      </div>

    </div>

</div>
