<div class="container">

  <% start_date = @booking.start_date.split('-') %>
  <% end_date = @booking.end_date.split('-') %>
    <div class="main-container">
      <div class="card-show" style="padding-bottom: 30px;">
          <%= image_tag @booking.grandma.user.photo, id:"img-profile", style: "object-fit: cover;" %>
          <%= image_tag @booking.user.photo, id:"img-profile", style: "object-fit: cover;" %>
            <h1><%= @booking.grandma.user.first_name %> and <%= @booking.user.first_name %> have a meeting!</h1>
          <% if @booking.status == "pending" && current_user.user_type == "Grandma" %>
          <%= link_to "Accept", update_booking_path(@booking.id, true), method: :put,
          class: "btn-confirm" %>
          <%= link_to "Decline", update_booking_path(@booking.id, false),
          data: {confirm: 'Are you sure?'}, method: :put, class: "btn-decline" %>
          <% end %>
        </div>

      <div class="card-show">
          <% if @booking.status == "pending" %>
            <h1><div class="status-pending">
            Your meeting is pending validation
            </div></h1>
          <% elsif @booking.status == "validate"%>
            <h1><div class="status-valid">Your meeting is accepted</div></h1>
          <% else %>
            <h1><div class="status-canceled">This meeting was canceled</div></h1>
          <% end %>
      </div>

      <div class="card-show">
        <h3>Meeting details</h3>
        <p><%= "Your meeting will start on #{start_date[2]} #{start_date[1]} #{start_date[0]}" %></p>
        <p><%= "It will end on #{end_date[2]} #{end_date[1]} #{end_date[0]}" %></p>
        <p id:"price"> Price is: <%= @booking.grandma.price %> euros / hour</p>
      </div>

      <div class="card-show">
        <h3>Planned activities</h3>
      <div id="activity">
        <% if @booking.grandma.knitting %>
          <div class="row">
            <div class="polaroid">
              <%= image_tag 'activities/knitting.jpg' %>
              <p>Knitting</p>
            </div>
        <% end %>

        <% if @booking.grandma.cooking %>
            <div class="polaroid">
              <%= image_tag 'activities/cooking.jpg', alt: "Cooking" %>
              <p>Cooking</p>
            </div>
          </div>
        <% end %>

        <% if @booking.grandma.baby_sitting %>
          <div class="row">
            <div class="polaroid">
              <%= image_tag 'activities/babysitting.jpg' %>
              <p>Baby-Sitting</p>
            </div>
        <% end %>

          <% if @booking.grandma.pet_sitting %>
            <div class="polaroid">
              <%= image_tag 'activities/dogsit.jpg' %>
              <p>Pet-Sitting</p>
            </div>
          <% end %>
          </div>
      </div>
  </div>

      </div>

    </div>

</div>
