<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Doubtfire</title>
    <meta property=“og:image” content=“facebook-card.jpg”>
    <meta property=“og:description” content=“Doubtfire, faites confiance à l’expérience - Mise en relation avec des super mamies.“>
    <meta property=“og:site_name” content=“Doubtfire”/>
    <meta name=“twitter:site” content=“@doubtfire”>
    <meta name=“twitter:title” content=“Doubtfire, faites confiance à l’expérience.“>
    <meta name=“twitter:description” content=“Doubtfire, faites confiance à l’expérience - Mise en relation avec des super mamies.“>
    <%= favicon_link_tag ‘favicon.ico’ %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body>
    <% if user_signed_in? %>
      <%= render 'shared/navbar' %>
    <% else %>
      <%= render 'shared/navbar_login' %>
    <% end %>

    <%#= render "shared/navbar" %>
    <%= render 'shared/flashes' %>
    <div class="home-page">
    <%= yield %>
    </div>
    <%= render "shared/footer" %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
    <%#= javascript_include_tag "https://maps.googleapis.com/maps/api/js" %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_pack_tag "map" %> <!-- add this line -->

    <div class="modal fade modal-sign_in" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= render "shared/form_sign_in" %>
    </div>
  </div>
</div>

  </body>
</html>
